<!DOCTYPE html>
<html>
  <head>
    <% include headerStuff %>
  </head>
  <body>
    <div class="row"><div class="container-fluid">
    <% include pageHeader %>
    <div class="cols-xs-12">
    <form action="/notes/save" method="post">
      <input type="hidden" name="docreate" value="<%= docreate ? "create" : "update" %>">
    <div class="form-group">
      <% if (docreate) { %>
        <input class="form-control" type="text" id="notekey" name="notekey" value="" placeholder="key" >
      <% } else { %>
        <%= note ? notekey : "" %>
          <input class="form-control" type="hidden" id="notekey" name="notekey" value="<%= note ? notekey : "" %>" >
      <% } %>    
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" type="text" placeholder="note title" name="title"
       value="<%= note ? note.title : "" %>" >
    </div>

    <div class="form-group">
      <textarea class="form-control" name="body" rows="5" ><%= note ? note.body : "" %></textarea>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

    </form>
    <% include footer %>
  </div></div>
  </body>
</html>
